h2 {
    font-family: 'Roboto', sans-serif;
    margin-left: 2em;
}

.outer-container,
.container {
    display: flex;
}

.container {
    margin: 0em 5em 5em 7em;
    border: 1px solid grey;
    border-radius: 6px;
    height: 9em;
    width: 25em;
}

.container:hover {
    background-color: #ccc;
}

.image {
    margin: auto 10px;
    width: 7em;
    height: 7em;
    border-radius: 50%;
}

.name {
    font-weight: bold;
    margin: 1.5em 0 0 1em;
}

.email,
.city,
.phone,
.street,
.birthday {
    margin: .5em 0 0 1em;
}

.divider {
    width: 19em;
    margin: 1em auto;
    border: 1px solid grey;
}

.city,
.state,
.postcode {
    display: inline-block;
}

/* styles below provided by inspirationalpixels.com/custom-popup-modal */
/* Outer */
.popup {
	width:100%;
	height:100%;
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	background:rgba(0,0,0,0.75);
}

/* Inner */
.popup-inner {
    text-align: center;
	max-width:400px;
	width:90%;
	padding:40px;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	box-shadow:0px 2px 6px rgba(0,0,0,1);
	border-radius:10px;
	background:#fff;
}

/* Close Button */
.popup-close {
	width:30px;
	height:30px;
	padding-top:4px;
	display:inline-block;
	position:absolute;
	top:0px;
	right:0px;
	transition:ease 0.25s all;
	-webkit-transform:translate(50%, -50%);
	transform:translate(50%, -50%);
	border-radius:1000px;
	background:rgba(0,0,0,0.8);
	font-family:Arial, Sans-Serif;
	font-size:20px;
	text-align:center;
	line-height:100%;
    color:#fff;
    text-decoration: none;
}

.popup-close:hover {
	-webkit-transform:translate(50%, -50%) rotate(180deg);
	transform:translate(50%, -50%) rotate(180deg);
	background:rgba(0,0,0,1);
	text-decoration:none;
}